/* Grid
*/

.container {
  width: 45%;
  max-width: 40em;  /* 1. 40x16=640px */
  margin: 0 auto;
}

#article .body img, #item img {
  max-width: 100%;
  height: auto;
}


/* Typography

- base measure for vertical rhythm: 1.25em

*/

body { font-size:100%; line-height:1.25; }
h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.55556em; padding:1.38415em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 { font-size:1.22222em; padding:1.42074em 0; }
h4 { font-size:1.11111em; padding:1.62469em 0; }
h5, h6 { font-size:1em; padding:1.25em 0; }
h6 {
  font-style: italic;
}
h1, h2, h3 {
  font-weight: normal;
}
body {   
  font-size: 100%;
  -webkit-text-size-adjust: none;  
}
p {
  margin-bottom: 1.25em;
}


/* Theme

- background: #f9f9f9;
  - black: #2d2d2d 
  - highlight: #f1f1f1
  - gray: #7a7a7a
  - brown: 936A58
- link: #00e;
  - visited: #1010A1
  - lighter: #6b6bf0
  
*/

body {
  background: #f9f9f9;
  color: #2d2d2d; 
}
a h1 {
  color: #2d2d2d;
  text-decoration: none;
}
#article, #accordion {
  background: #f1f1f1; 
  padding: 1.25em; 
}
#accordion h3, .accordion h3 {
  padding-bottom: .31em;
  border-bottom: 1px solid #f9f9f9;
  cursor: pointer;
}
#accordion .pane, .accordion .pane {
  padding: 1.25em 0;
}
#item.odd {
  background: #f1f1f1;
}
.meta {
  font-style: italic;
  color: #7a7a7a;
}
.links a, .links a:active, .links a:hover, .links a:visited {
  color: #6b6bf0;
  font-size: smaller;
}
a, a:active, a:hover {
  color: #00e;
  text-decoration: none !important;
}
a:visited {
  color: #1010A1;
}
#footer a, #footer a:visited {
  color: #7a7a7a;
  text-decoration: none;
}
#footer a:hover, #footer a:active {
  text-decoration: underline;
}
#archive .archive-title {
  font-style: italic;
}
#archive h1 {
  color: #936A58;
}

#smooth-links ul{
  list-style-type: none;
}
#smooth-links ul li {
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 2.5%;
}
#smooth-links a, #smooth-links a:active, #smooth-links a:hover, #smooth-links a:visited  {
  color: #6b6bf0;
}

.summary {
  margin: 2.5em 0;
  padding: 1.25em;
  background: #e0e0e0;
}



/* Header 
*/

#header {
  text-align: center;
}
#header #description {
  font-style: italic;
}


/* Footer
*/

#footer #inside {
  margin: 2.5em 0;
  padding: 1.25em 0;
  border-top: 1px solid #ddd;
  font-size: smaller;
}
#footer .col-1, #footer .col-2 {
  width: 45%;
}
#footer .col-1 {
  margin-right: 5%;
}
#footer .col-2 {
  margin-left: 5%;
}


/* Collections
*/

#startpage, #archive {
  margin: 2.5em 0;
}
#item {
  margin: 1.25em 0;
  padding: 1.25em 0;
}
#item .excerpt, #item .image {
  margin: 1.25em .62em .62em 10%;
}


#import .date {
  font-size: smaller;
}

#twitter #item {
  padding: 0;
}
#twitter #item .image {
  width: 48px;
  margin: 0 1.25em 0 0;
  float: left;
}
#twitter img {
  border: 1px solid #e8e8e8;
}
#twitter #item .text {
  float: left;
  width: 30em;
}
#twitter #item .date {
  margin-left: .62em;
  color: #7a7a7a;
}
#rss  a .date {
  color: #6b6bf0;
}




/* Article
*/


#article .meta {
  padding-bottom: .62em;
  border-bottom: 1px inset #7a7a7a;
}
#article .body {
  margin: 2.5em 0;  
}
#article .excerpt {
  margin-top: .62em; 
}
.fb_edge_widget_with_comment {
  top: -0.24em;
}
#related ul.posts {
  margin-left: 5%;
  list-style-type: circle;
}
#related ul.posts li {
  margin-bottom: 2.5%;
}
ol.date {
  list-style-type: none;
}
#image-archive {
  font-size: smaller;
}
#image-archive #item {
  width: 45%;
  margin: 0 0 5% 0;
  padding: 0;
}
#image-archive #item.even {
  margin-right: 5%;
}
#image-archive #item.odd {
  margin-left: 5%;
}

/* Google Custom Search
*/
td.gsc-search-button {
  width: 10% !important;
}
#spacer {
  height: 50em; /* to enable jumping to internal page links (a href="#link") */
}






/* Common 
*/

li {
  margin-bottom: 2.5%;
}

.link {
  cursor: pointer;
}
.clear {
  clear: both;
}
.block {
  width: 100%;
  float: left;
}
.left {
  float: left;
}
.right {
  float: right;
}
.hidden {
  display: none;
}
.alignright {
  text-align: right;
}
.alignleft {
  text-align: left;
}
.aligncenter {
  text-align: center;
}
ul {
  list-style-type: disc;
}
ul.inline-list {
  display: block;
  margin: 0;
}
ul.inline-list li {
  display: inline;
  list-style-type: none;
  margin-left: 0;
  white-space: nowarp;  
}

