<div id="items">
  {% for post in site.posts limit:10 %}
    <div id="item" class="{% cycle 'even', 'odd' %}">
      <div class="title">
        <span class="date">{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
      </div>
      {% if post.excerpt %}
        <div class="excerpt meta">
          {{ post.excerpt }}
        </div>
      {% endif %}
      {% unless post.no-images-on-frontpage %}
        {% if post.images %}
        <div class="image">
          <a href="{{ post.url }}" title="{{ post.title }}">
            <img src="../images/{{ post.images[0].url }}" alt="{{ post.title }}"/></a>
        </div>
        {% endif %}
      {% endunless %}
    </div>
  {% endfor %}  
</div>
